.elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-container {
    min-height: 800px;
}

.elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-4f669d6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
    height: 307px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-2034 .elementor-element.elementor-element-91879f2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2034 .elementor-element.elementor-element-91879f2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-191b4f8 {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-191b4f8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h1 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h2 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h3 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h4 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h5 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h6 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline div {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline p {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h1,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h2,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h3,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h4,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h5,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h6,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline div,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span,
.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline p {
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    line-height: 1em;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span.ah-words-wrapper {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span.ah-words-wrapper b {
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 1em;
}

.elementor-2034 .elementor-element.elementor-element-e08622d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-78bc6b0 {
    text-align: center;
    color: #FFFFFFA3;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-2034 .elementor-element.elementor-element-78bc6b0>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2034 .elementor-element.elementor-element-f21fb41:not(.elementor-motion-effects-element-type-background),
.elementor-2034 .elementor-element.elementor-element-f21fb41>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2034 .elementor-element.elementor-element-f21fb41 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 80px 0px;
}

.elementor-2034 .elementor-element.elementor-element-f21fb41>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-4e88272:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-element-populated {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #FF2D55;
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -150px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-element-populated,
.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-element-populated>.elementor-background-overlay,
.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-element-populated>.elementor-widget-wrap {
    padding: 60px 60px 60px 60px;
}

.elementor-2034 .elementor-element.elementor-element-4e88272 {
    z-index: 2;
}

.elementor-2034 .elementor-element.elementor-element-37c31ea {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-37c31ea .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-087adae {
    text-align: center;
    color: #000000;
}

.elementor-2034 .elementor-element.elementor-element-087adae>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-03fbc8a:not(.elementor-motion-effects-element-type-background),
.elementor-2034 .elementor-element.elementor-element-03fbc8a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2034 .elementor-element.elementor-element-03fbc8a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 130px 0px;
}

.elementor-2034 .elementor-element.elementor-element-03fbc8a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-03fbc8a>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-03fbc8a>.elementor-shape-bottom svg {
    width: calc(242% + 1.3px);
    height: 77px;
}

.elementor-2034 .elementor-element.elementor-element-d45e082>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 12% 0% 12%;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text {
    text-align: left;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h1 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h2 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h3 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h4 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h5 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h6 {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text div {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text span {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text p {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h1,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h2,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h3,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h4,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h5,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h6,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text div,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text span,
.elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text p {
    font-family: "Poppins", Sans-serif;
    font-size: 32px;
}

.elementor-2034 .elementor-element.elementor-element-911e84b {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-911e84b>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-element.elementor-element-911e84b {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-911e84b {
    opacity: 0;
}

.elementor-2034 .elementor-element.elementor-element-2fc140c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-2fc140c {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 250ms !important;
}

.elementor-widget.elementor-element-2fc140c {
    opacity: 0;
}

.elementor-2034 .elementor-element.elementor-element-d607d04 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-2034 .elementor-element.elementor-element-1b3e4bc {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-5e65132>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-5e65132 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 300ms !important;
}

.elementor-widget.elementor-element-5e65132 {
    opacity: 0;
}

.elementor-2034 .elementor-element.elementor-element-a7c487c .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-2034 .elementor-element.elementor-element-09bc6de {
    color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-a838ce0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-a838ce0 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 350ms !important;
}

.elementor-widget.elementor-element-a838ce0 {
    opacity: 0;
}

.elementor-2034 .elementor-element.elementor-element-2c279d1 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #FF2D55;
    border-radius: 50px 50px 50px 50px;
    padding: 12px 30px 12px 30px;
}

.elementor-2034 .elementor-element.elementor-element-2c279d1 .elementor-button:hover,
.elementor-2034 .elementor-element.elementor-element-2c279d1 .elementor-button:focus {
    background-color: #DD072F;
}

.elementor-2034 .elementor-element.elementor-element-2c279d1>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-2034 .elementor-element.elementor-element-2c279d1 {
    width: auto;
    max-width: auto;
}

.elementor-2034 .elementor-element.elementor-element-e739485:not(.elementor-motion-effects-element-type-background),
.elementor-2034 .elementor-element.elementor-element-e739485>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-e739485 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 120px 0px;
}

.elementor-2034 .elementor-element.elementor-element-e739485>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-e739485>.elementor-shape-bottom .elementor-shape-fill {
    fill: #F0F0F0;
}

.elementor-2034 .elementor-element.elementor-element-e739485>.elementor-shape-bottom svg {
    height: 72px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-2034 .elementor-element.elementor-element-ce28e9f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-f0dd736 {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-f0dd736 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-e377e99 {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-e377e99 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-881cc60:not(.elementor-motion-effects-element-type-background),
.elementor-2034 .elementor-element.elementor-element-881cc60>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-2034 .elementor-element.elementor-element-881cc60 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-881cc60>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-881cc60>.elementor-shape-bottom svg {
    width: calc(285% + 1.3px);
}

.elementor-2034 .elementor-element.elementor-element-af5cebb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li.scheduleday_title h4 {
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li.scheduleday_title h4,
.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li.scheduleday_title .scheduleday_title_icon span {
    color: #ffffff;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .scheduleday_wrapper li.scheduleday_title {
    background: #007AFF;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .scheduleday_wrapper li.scheduleday_title,
.elementor-2034 .elementor-element.elementor-element-1df34c7 .scheduleday_wrapper,
.elementor-2034 .elementor-element.elementor-element-1df34c7 .scheduleday_wrapper li .session_content_wrapper {
    border-radius: 15px 15px 15px 15px;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li .session_content h6 {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li .expandable,
.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li .session_content_wrapper {
    background: #ffffff;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li,
.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li .session_location {
    border-color: #e1e1e1;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li {
    color: #222222;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li a {
    color: #FF2D55;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .scheduleday_wrapper li a:hover {
    color: #000000;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .scheduleday_wrapper li .session_speaker_thumb img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .session_filters li a,
.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper a.session_expand_all {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
    color: #000000;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .session_filters li a:hover {
    color: #ffffff;
    background-color: #FF2D55;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .session_filters li a.active {
    color: #ffffff;
    background-color: #FF2D55;
}

.elementor-2034 .elementor-element.elementor-element-1df34c7 .session-fullwidth-wrapper .session_filters li a {
    border-radius: 25px 25px 25px 25px;
}

.elementor-element.elementor-element-1df34c7 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 150ms !important;
}

.elementor-widget.elementor-element-1df34c7 {
    opacity: 0;
}

.elementor-2034 .elementor-element.elementor-element-ba0b860:not(.elementor-motion-effects-element-type-background),
.elementor-2034 .elementor-element.elementor-element-ba0b860>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2034 .elementor-element.elementor-element-ba0b860 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-2034 .elementor-element.elementor-element-ba0b860>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-7d1cf75>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-cffee41 {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-cffee41 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-c5088ae {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-c5088ae .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-c8c7f5f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-7dd57c4 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    color: #FF2D55;
}

.elementor-2034 .elementor-element.elementor-element-7dd57c4 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
    font-family: "Work Sans", Sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.elementor-2034 .elementor-element.elementor-element-815bc95 {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-b8d64f6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-4641baf .eb-map {
    height: 600px;
}

.elementor-2034 .elementor-element.elementor-element-3ac8f69:not(.elementor-motion-effects-element-type-background),
.elementor-2034 .elementor-element.elementor-element-3ac8f69>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://ahexma.com/v5/wp-content/uploads/2017/02/26549211695_14ca70baa9_o.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2034 .elementor-element.elementor-element-3ac8f69>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2034 .elementor-element.elementor-element-3ac8f69 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 140px 0px;
}

.elementor-2034 .elementor-element.elementor-element-3ac8f69>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-2034 .elementor-element.elementor-element-3ac8f69>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
}

.elementor-2034 .elementor-element.elementor-element-6b0f5cc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2034 .elementor-element.elementor-element-6b0f5cc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2034 .elementor-element.elementor-element-6b0f5cc>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2034 .elementor-element.elementor-element-82fa59a {
    text-align: center;
}

.elementor-2034 .elementor-element.elementor-element-82fa59a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-82fa59a>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-2034 .elementor-element.elementor-element-867172d {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-2034 .elementor-element.elementor-element-867172d>.elementor-widget-container {
    margin: 10px 0px 30px 0px;
}

.elementor-2034 .elementor-element.elementor-element-3a07187 .countdown-wrapper .countdown-clock-col {
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    background: #FF2D54CC;
}

.elementor-2034 .elementor-element.elementor-element-3a07187 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-2034 .elementor-element.elementor-element-3a07187 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
}

.elementor-2034 .elementor-element.elementor-element-3a07187 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-container {
        min-height: 600px;
    }

    .elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-2034 .elementor-element.elementor-element-191b4f8 .elementor-heading-title {
        font-size: 55px;
    }

    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h1,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h2,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h3,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h4,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h5,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h6,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline div,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline p {
        font-size: 55px;
    }

    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span.ah-words-wrapper b {
        font-size: 55px;
    }

    .elementor-2034 .elementor-element.elementor-element-78bc6b0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-37c31ea .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-2034 .elementor-element.elementor-element-d45e082>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 5% 0% 5%;
    }

    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h1,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h2,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h3,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h4,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h5,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h6,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text div,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text span,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text p {
        font-size: 28px;
    }

    .elementor-2034 .elementor-element.elementor-element-d607d04 .elementor-heading-title {
        font-size: 14px;
    }

    .elementor-2034 .elementor-element.elementor-element-a7c487c .elementor-heading-title {
        font-size: 14px;
    }

    .elementor-2034 .elementor-element.elementor-element-e739485>.elementor-shape-bottom svg {
        width: calc(100% + 1.3px);
        height: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-e739485 {
        padding: 60px 0px 100px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-f0dd736 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-2034 .elementor-element.elementor-element-e377e99 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-2034 .elementor-element.elementor-element-881cc60 {
        padding: 30px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-af5cebb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-ba0b860 {
        padding: 60px 0px 40px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-cffee41 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-2034 .elementor-element.elementor-element-c5088ae .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-2034 .elementor-element.elementor-element-7dd57c4 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
        font-size: 18px;
    }

    .elementor-2034 .elementor-element.elementor-element-7dd57c4 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
        font-size: 12px;
    }

    .elementor-2034 .elementor-element.elementor-element-3ac8f69>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-2034 .elementor-element.elementor-element-82fa59a .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-2034 .elementor-element.elementor-element-867172d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-3a07187 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 40px;
    }
}

@media(max-width:767px) {
    .elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-container {
        min-height: 500px;
    }

    .elementor-2034 .elementor-element.elementor-element-4f669d6>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
        height: 52px;
    }

    .elementor-2034 .elementor-element.elementor-element-191b4f8 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h1,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h2,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h3,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h4,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h5,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline h6,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline div,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span,
    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline p {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-e08622d .themegoods-animated-headline span.ah-words-wrapper b {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-78bc6b0 {
        text-align: center;
    }

    .elementor-2034 .elementor-element.elementor-element-78bc6b0>.elementor-widget-container {
        margin: 0px 30px 0px 30px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-f21fb41 {
        padding: 0px 0px 40px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-4e88272>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 30px 50px 30px;
    }

    .elementor-2034 .elementor-element.elementor-element-37c31ea {
        text-align: center;
    }

    .elementor-2034 .elementor-element.elementor-element-37c31ea .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-2034 .elementor-element.elementor-element-37c31ea>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-087adae {
        text-align: left;
    }

    .elementor-2034 .elementor-element.elementor-element-03fbc8a>.elementor-shape-bottom svg {
        width: calc(280% + 1.3px);
        height: 48px;
    }

    .elementor-2034 .elementor-element.elementor-element-03fbc8a {
        padding: 40px 0px 80px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text {
        text-align: center;
    }

    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h1,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h2,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h3,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h4,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h5,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text h6,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text div,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text span,
    .elementor-2034 .elementor-element.elementor-element-1dbea99 .themegoods-animated-text p {
        font-size: 26px;
    }

    .elementor-2034 .elementor-element.elementor-element-911e84b {
        text-align: center;
    }

    .elementor-2034 .elementor-element.elementor-element-2fc140c {
        width: 50%;
    }

    .elementor-2034 .elementor-element.elementor-element-5e65132 {
        width: 50%;
    }

    .elementor-2034 .elementor-element.elementor-element-a838ce0 {
        width: 100%;
    }

    .elementor-2034 .elementor-element.elementor-element-a838ce0.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-2034 .elementor-element.elementor-element-2c279d1>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-e739485>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-2034 .elementor-element.elementor-element-e739485 {
        padding: 20px 0px 80px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-ce28e9f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-2034 .elementor-element.elementor-element-f0dd736 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-e377e99 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-881cc60 {
        padding: 30px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-ba0b860 {
        padding: 60px 0px 40px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-7d1cf75>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-2034 .elementor-element.elementor-element-cffee41 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-c5088ae .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2034 .elementor-element.elementor-element-7dd57c4 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
        font-size: 24px;
    }

    .elementor-2034 .elementor-element.elementor-element-7dd57c4 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
        font-size: 14px;
    }

    .elementor-2034 .elementor-element.elementor-element-3ac8f69>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-2034 .elementor-element.elementor-element-3ac8f69 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 80px 0px 80px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-6b0f5cc>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-82fa59a .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-2034 .elementor-element.elementor-element-82fa59a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-867172d {
        text-align: center;
    }

    .elementor-2034 .elementor-element.elementor-element-867172d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2034 .elementor-element.elementor-element-3a07187 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 31px;
    }

    .elementor-2034 .elementor-element.elementor-element-3a07187 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
        font-size: 10px;
    }
}

@media(min-width:768px) {
    .elementor-2034 .elementor-element.elementor-element-2bc8843 {
        width: 20%;
    }

    .elementor-2034 .elementor-element.elementor-element-4e88272 {
        width: 59.332%;
    }

    .elementor-2034 .elementor-element.elementor-element-7c03caf {
        width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2034 .elementor-element.elementor-element-2bc8843 {
        width: 5%;
    }

    .elementor-2034 .elementor-element.elementor-element-4e88272 {
        width: 90%;
    }

    .elementor-2034 .elementor-element.elementor-element-7c03caf {
        width: 5%;
    }
}