.elementor-1647 .elementor-element.elementor-element-78f8981:not(.elementor-motion-effects-element-type-background),
.elementor-1647 .elementor-element.elementor-element-78f8981>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1647 .elementor-element.elementor-element-78f8981 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 120px 0px;
}

.elementor-1647 .elementor-element.elementor-element-78f8981>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1647 .elementor-element.elementor-element-78f8981>.elementor-shape-bottom .elementor-shape-fill {
    fill: #F0F0F0;
}

.elementor-1647 .elementor-element.elementor-element-78f8981>.elementor-shape-bottom svg {
    height: 72px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-1647 .elementor-element.elementor-element-7d6a4f7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-48a14e9 {
    text-align: center;
}

.elementor-1647 .elementor-element.elementor-element-48a14e9 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1647 .elementor-element.elementor-element-d42a7dc {
    text-align: center;
}

.elementor-1647 .elementor-element.elementor-element-d42a7dc .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1647 .elementor-element.elementor-element-229759c:not(.elementor-motion-effects-element-type-background),
.elementor-1647 .elementor-element.elementor-element-229759c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-1647 .elementor-element.elementor-element-229759c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-229759c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1647 .elementor-element.elementor-element-70972f9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1647 .elementor-element.elementor-element-70972f9>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 0%;
}

.elementor-1647 .elementor-element.elementor-element-d70708d .grandconference-gallery-grid-content-wrapper .gallery-grid-item {
    border-width: 0px;
}

.elementor-1647 .elementor-element.elementor-element-d70708d .grandconference-gallery-grid-content-wrapper div.gallery-grid-item {
    border-color: #ffffff;
    border-radius: 15px;
}

.elementor-1647 .elementor-element.elementor-element-d70708d .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.elementor-1647 .elementor-element.elementor-element-d70708d .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-d70708d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-b6d5290 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1647 .elementor-element.elementor-element-b6d5290>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-25f61d5 .grandconference-gallery-grid-content-wrapper .gallery-grid-item {
    border-width: 0px;
    border-radius: 0px;
}

.elementor-1647 .elementor-element.elementor-element-25f61d5 .grandconference-gallery-grid-content-wrapper div.gallery-grid-item {
    border-color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-25f61d5 .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.elementor-1647 .elementor-element.elementor-element-25f61d5 .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-7cb686f {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1647 .elementor-element.elementor-element-7cb686f>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-05a8432:not(.elementor-motion-effects-element-type-background),
.elementor-1647 .elementor-element.elementor-element-05a8432>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-1647 .elementor-element.elementor-element-05a8432 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1647 .elementor-element.elementor-element-05a8432>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1647 .elementor-element.elementor-element-2dfbb0f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 40px;
}

.elementor-1647 .elementor-element.elementor-element-9ea2859 .horizontal-gallery-wrapper .horizontal-gallery-cell img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1647 .elementor-element.elementor-element-9ea2859 .horizontal-gallery-wrapper .flickity-prev-next-button.next {
    background: #00000000;
}

.elementor-1647 .elementor-element.elementor-element-9ea2859 .horizontal-gallery-wrapper .flickity-prev-next-button.previous {
    background: #00000000;
}

.elementor-1647 .elementor-element.elementor-element-9ea2859 .horizontal-gallery-wrapper .flickity-prev-next-button .arrow {
    fill: #FFFFFF;
}

.elementor-1647 .elementor-element.elementor-element-9ea2859 .horizontal-gallery-wrapper .flickity-page-dots .dot {
    background: #FF2D55;
}

.elementor-1647 .elementor-element.elementor-element-38d343b {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1647 .elementor-element.elementor-element-38d343b>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-3b9e10c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-0f37b19 .fullscreen-gallery-wrapper {
    height: 100vh;
}

.elementor-1647 .elementor-element.elementor-element-0f37b19 .swiper-button-next i {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-0f37b19 .swiper-button-prev i {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-0f37b19 .gallery-fullscreen-content .gallery-fullscreen-title {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-0f37b19 .gallery-fullscreen-content .gallery-fullscreen-caption {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-0f37b19 .gallery-fullscreen-content .gallery-fullscreen-description {
    color: #ffffff;
    border-color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-7500c3c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-e211876 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1647 .elementor-element.elementor-element-e211876>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-9839a8c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper {
    height: 100vh;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .gallery-fullscreen-title {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .gallery-fullscreen-caption {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .gallery-fullscreen-description {
    color: #ffffff;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .slick-arrow.slick-prev:before {
    border-color: #FFFFFF;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .slick-arrow.slick-next:before {
    border-color: #FFFFFF;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .slick-arrow:after {
    background-color: #FFFFFF;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .slick-dots li.slick-active button {
    background-color: #FFFFFF45;
}

.elementor-1647 .elementor-element.elementor-element-6c70a34 .fullscreen-gallery-preview-wrapper .slick-dots li button {
    border-color: #FFFFFF45;
}

.elementor-1647 .elementor-element.elementor-element-146165e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1647 .elementor-element.elementor-element-0af480e {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1647 .elementor-element.elementor-element-0af480e>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-1647 .elementor-element.elementor-element-78f8981>.elementor-shape-bottom svg {
        width: calc(100% + 1.3px);
        height: 40px;
    }

    .elementor-1647 .elementor-element.elementor-element-78f8981 {
        padding: 60px 0px 100px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-48a14e9 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1647 .elementor-element.elementor-element-d42a7dc .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1647 .elementor-element.elementor-element-70972f9>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-b6d5290>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-7cb686f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-2dfbb0f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 30px 0px 30px;
    }

    .elementor-1647 .elementor-element.elementor-element-38d343b>.elementor-widget-container {
        margin: 40px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-e211876>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-0af480e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1647 .elementor-element.elementor-element-78f8981>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1647 .elementor-element.elementor-element-78f8981 {
        padding: 70px 0px 80px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-7d6a4f7>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1647 .elementor-element.elementor-element-48a14e9 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1647 .elementor-element.elementor-element-d42a7dc .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1647 .elementor-element.elementor-element-229759c {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-70972f9>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1647 .elementor-element.elementor-element-b6d5290 {
        text-align: center;
    }

    .elementor-1647 .elementor-element.elementor-element-b6d5290>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-7cb686f {
        text-align: center;
    }

    .elementor-1647 .elementor-element.elementor-element-7cb686f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-2dfbb0f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-38d343b {
        text-align: center;
    }

    .elementor-1647 .elementor-element.elementor-element-38d343b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-e211876 {
        text-align: center;
    }

    .elementor-1647 .elementor-element.elementor-element-e211876>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1647 .elementor-element.elementor-element-0af480e {
        text-align: center;
    }

    .elementor-1647 .elementor-element.elementor-element-0af480e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}



/* Modifikasi by arzu_354 */
:root{ --gallery-gap: 10px; } /* ubah nilai 60px sesuai kebutuhan */

.elementor-element-78f8981 .elementor-column-wrap {
  padding-top: var(--gallery-gap);
  /* pastikan konten tetap di atas shape */
  position: relative;
  z-index: 2;
}

/* kecilkan spacing di layar kecil */
@media (max-width: 600px){
  :root{ --gallery-gap: 36px; } /* atau override langsung di bawah */
  .elementor-element-78f8981 .elementor-column-wrap{ padding-top: 36px; }
}
