.elementor-2685 .elementor-element.elementor-element-5a4ab53:not(.elementor-motion-effects-element-type-background),
.elementor-2685 .elementor-element.elementor-element-5a4ab53>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2685 .elementor-element.elementor-element-5a4ab53 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 60px 0px 60px 0px;
}

.elementor-2685 .elementor-element.elementor-element-5a4ab53>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2685 .elementor-element.elementor-element-07d12d4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-9d6f6d8 img {
    width: 170px;
}

.elementor-2685 .elementor-element.elementor-element-9d6f6d8>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-2685 .elementor-element.elementor-element-9d6f6d8 {
    width: auto;
    max-width: auto;
}

.elementor-2685 .elementor-element.elementor-element-9b98640 {
    color: #CCCCCC;
    font-family: "Epilogue", Sans-serif;
}

.elementor-2685 .elementor-element.elementor-element-b3a0c36 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 25px;
    --grid-column-gap: 12px;
    --grid-row-gap: 0px;
}

.elementor-2685 .elementor-element.elementor-element-b3a0c36 .elementor-widget-container {
    text-align: left;
}

.elementor-2685 .elementor-element.elementor-element-b3a0c36>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-bad8dd2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-ebb111c .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Epilogue", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-2685 .elementor-element.elementor-element-ebb111c>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-2685 .elementor-element.elementor-element-016bb8a {
    color: #CCCCCC;
    font-family: "Epilogue", Sans-serif;
}

.elementor-2685 .elementor-element.elementor-element-9acc7e0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 40px;
}

.elementor-2685 .elementor-element.elementor-element-20b8484 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Epilogue", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-2685 .elementor-element.elementor-element-20b8484>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2685 .elementor-element.elementor-element-2977832 .grandconference-gallery-grid-content-wrapper .gallery-grid-item {
    border-width: 5px;
}

.elementor-2685 .elementor-element.elementor-element-2977832 .grandconference-gallery-grid-content-wrapper div.gallery-grid-item {
    border-color: #000000;
    border-radius: 15px;
}

.elementor-2685 .elementor-element.elementor-element-2977832 .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.elementor-2685 .elementor-element.elementor-element-2977832 .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
    color: #ffffff;
}

.elementor-2685 .elementor-element.elementor-element-963a67d:not(.elementor-motion-effects-element-type-background),
.elementor-2685 .elementor-element.elementor-element-963a67d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2685 .elementor-element.elementor-element-963a67d {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-2685 .elementor-element.elementor-element-963a67d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2685 .elementor-element.elementor-element-2f85a79.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2685 .elementor-element.elementor-element-2f85a79.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2685 .elementor-element.elementor-element-2f85a79>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-d0e092d .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.elementor-2685 .elementor-element.elementor-element-d0e092d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-4b9e376.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2685 .elementor-element.elementor-element-4b9e376>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li>a {
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li.arrow>a:after {
    line-height: 2.6em;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li {
    margin: 0px 5px 0px 5px;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav {
    text-align: left;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li>ul.sub-menu {
    margin: 0px 0px 0px -20px;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul.sub-menu {
    text-align: left;
    border-radius: 5px;
    background: #ffffff;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li>a:hover {
    color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav ul li>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper div .nav li>a:before {
    background-color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li.current-menu-item>a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li.current-menu-parent>a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a {
    color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li.current-menu-item>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li.current-menu-parent>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li a {
    color: #000000;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li a:hover {
    color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li>a:before {
    background-color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li.current-menu-parent ul>li.current-menu-item>a {
    color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-2685 .elementor-element.elementor-element-cfe998a .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a>.elementor-widget-container {
    margin: 08px 0px 0px 0px;
}

.elementor-2685 .elementor-element.elementor-element-cfe998a {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-2685 .elementor-element.elementor-element-5a4ab53 {
        padding: 60px 30px 60px 30px;
    }

    .elementor-2685 .elementor-element.elementor-element-9d6f6d8 img {
        width: 160px;
    }

    .elementor-2685 .elementor-element.elementor-element-9d6f6d8>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2685 .elementor-element.elementor-element-b3a0c36 {
        --icon-size: 25px;
        --grid-column-gap: 8px;
    }

    .elementor-2685 .elementor-element.elementor-element-bad8dd2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2685 .elementor-element.elementor-element-963a67d {
        padding: 20px 30px 20px 30px;
    }
}

@media(max-width:767px) {
    .elementor-2685 .elementor-element.elementor-element-5a4ab53 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-2685 .elementor-element.elementor-element-07d12d4>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-2685 .elementor-element.elementor-element-bad8dd2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 0px 20px;
    }

    .elementor-2685 .elementor-element.elementor-element-9acc7e0>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 0px 20px;
    }

    .elementor-2685 .elementor-element.elementor-element-963a67d {
        padding: 40px 0px 20px 0px;
    }

    .elementor-2685 .elementor-element.elementor-element-d0e092d {
        text-align: center;
    }

    .elementor-2685 .elementor-element.elementor-element-4b9e376.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-2685 .elementor-element.elementor-element-4b9e376>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
}