.elementor-1820 .elementor-element.elementor-element-1eb5db9:not(.elementor-motion-effects-element-type-background),
.elementor-1820 .elementor-element.elementor-element-1eb5db9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1820 .elementor-element.elementor-element-1eb5db9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 120px 0px;
}

.elementor-1820 .elementor-element.elementor-element-1eb5db9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1820 .elementor-element.elementor-element-1eb5db9>.elementor-shape-bottom .elementor-shape-fill {
    fill: #F0F0F0;
}

.elementor-1820 .elementor-element.elementor-element-1eb5db9>.elementor-shape-bottom svg {
    width: calc(151% + 1.3px);
    height: 72px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-1820 .elementor-element.elementor-element-e8b1d4b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-a4d6a4a {
    text-align: center;
}

.elementor-1820 .elementor-element.elementor-element-a4d6a4a .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1820 .elementor-element.elementor-element-ae2915c {
    text-align: center;
}

.elementor-1820 .elementor-element.elementor-element-ae2915c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1820 .elementor-element.elementor-element-abfaa0b:not(.elementor-motion-effects-element-type-background),
.elementor-1820 .elementor-element.elementor-element-abfaa0b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-1820 .elementor-element.elementor-element-abfaa0b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 60px 0px;
}

.elementor-1820 .elementor-element.elementor-element-abfaa0b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1820 .elementor-element.elementor-element-0d3eb5f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper {
    width: 100%;
    height: 600px;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content {
    background: #F0F0F0;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content>div h1 {
    color: #FF2D55;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content div h1 {
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content span {
    color: #000000;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper .content span {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content>div p {
    color: #000000;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content>div a {
    color: #000000;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro div.content a {
    border-color: #000000;
}

.elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro nav a {
    background: #FFFFFF;
}

.elementor-1820 .elementor-element.elementor-element-6a2e033:not(.elementor-motion-effects-element-type-background),
.elementor-1820 .elementor-element.elementor-element-6a2e033>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1820 .elementor-element.elementor-element-6a2e033 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 40px 0px;
}

.elementor-1820 .elementor-element.elementor-element-6a2e033>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1820 .elementor-element.elementor-element-6a2e033>.elementor-shape-top .elementor-shape-fill {
    fill: #F0F0F0;
}

.elementor-1820 .elementor-element.elementor-element-6a2e033>.elementor-shape-top svg {
    height: 99px;
}

.elementor-1820 .elementor-element.elementor-element-1172e9c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-f962a90 {
    text-align: center;
}

.elementor-1820 .elementor-element.elementor-element-f962a90 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1820 .elementor-element.elementor-element-f962a90>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1820 .elementor-element.elementor-element-3f77e5a {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1820 .elementor-element.elementor-element-3f77e5a>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-7400942:not(.elementor-motion-effects-element-type-background),
.elementor-1820 .elementor-element.elementor-element-7400942>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-1820 .elementor-element.elementor-element-7400942 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-7400942>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1820 .elementor-element.elementor-element-581fdaf>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-6bfa3a8 .speaker-classic-wrapper .ppb_speaker_classic .speaker_info_wrapper h4 {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FF2D55;
}

.elementor-1820 .elementor-element.elementor-element-6bfa3a8 .speaker-classic-wrapper .ppb_speaker_classic .speaker_info_wrapper .speaker_desc {
    font-size: 13px;
    color: #000000;
}

.elementor-1820 .elementor-element.elementor-element-cf61fe5:not(.elementor-motion-effects-element-type-background),
.elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://ahexma.com/v5/wp-content/uploads/2017/02/26549211695_14ca70baa9_o.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1820 .elementor-element.elementor-element-cf61fe5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 140px 0px;
}

.elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
}

.elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none;
}

.elementor-1820 .elementor-element.elementor-element-ee9ef25.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1820 .elementor-element.elementor-element-ee9ef25>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1820 .elementor-element.elementor-element-ee9ef25>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1820 .elementor-element.elementor-element-25982c0 {
    text-align: center;
}

.elementor-1820 .elementor-element.elementor-element-25982c0 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1820 .elementor-element.elementor-element-25982c0>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1820 .elementor-element.elementor-element-63a3bb5 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1820 .elementor-element.elementor-element-63a3bb5>.elementor-widget-container {
    margin: 10px 0px 30px 0px;
}

.elementor-1820 .elementor-element.elementor-element-6e76e45 .countdown-wrapper .countdown-clock-col {
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    background: #FF2D54CC;
}

.elementor-1820 .elementor-element.elementor-element-6e76e45 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1820 .elementor-element.elementor-element-6e76e45 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
}

.elementor-1820 .elementor-element.elementor-element-6e76e45 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-1820 .elementor-element.elementor-element-1eb5db9>.elementor-shape-bottom svg {
        width: calc(100% + 1.3px);
        height: 40px;
    }

    .elementor-1820 .elementor-element.elementor-element-1eb5db9 {
        padding: 60px 0px 100px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-a4d6a4a .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1820 .elementor-element.elementor-element-ae2915c .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper {
        height: 500px;
    }

    .elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 36px;
    }

    .elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper .content span {
        font-size: 13px;
    }

    .elementor-1820 .elementor-element.elementor-element-6a2e033 {
        padding: 80px 0px 40px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-f962a90 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1820 .elementor-element.elementor-element-3f77e5a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1820 .elementor-element.elementor-element-25982c0 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1820 .elementor-element.elementor-element-63a3bb5>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-6e76e45 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 40px;
    }
}

@media(max-width:767px) {
    .elementor-1820 .elementor-element.elementor-element-1eb5db9>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1820 .elementor-element.elementor-element-1eb5db9 {
        padding: 70px 0px 80px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-e8b1d4b>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1820 .elementor-element.elementor-element-a4d6a4a .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1820 .elementor-element.elementor-element-ae2915c .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1820 .elementor-element.elementor-element-abfaa0b {
        padding: 0px 0px 60px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-731a3ba .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 32px;
    }

    .elementor-1820 .elementor-element.elementor-element-6a2e033>.elementor-shape-top svg {
        height: 33px;
    }

    .elementor-1820 .elementor-element.elementor-element-6a2e033 {
        padding: 60px 0px 20px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-f962a90 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1820 .elementor-element.elementor-element-f962a90>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-3f77e5a {
        text-align: center;
    }

    .elementor-1820 .elementor-element.elementor-element-3f77e5a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-cf61fe5>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1820 .elementor-element.elementor-element-cf61fe5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 80px 0px 80px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-ee9ef25>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-25982c0 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1820 .elementor-element.elementor-element-25982c0>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-63a3bb5 {
        text-align: center;
    }

    .elementor-1820 .elementor-element.elementor-element-63a3bb5>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1820 .elementor-element.elementor-element-6e76e45 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 31px;
    }

    .elementor-1820 .elementor-element.elementor-element-6e76e45 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
        font-size: 10px;
    }
}