.elementor-1409 .elementor-element.elementor-element-de45916>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-1409 .elementor-element.elementor-element-de45916>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
}

.elementor-1409 .elementor-element.elementor-element-de45916>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none;
}

.elementor-1409 .elementor-element.elementor-element-8f787a5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-dabdfd0 .eb-map {
    height: 600px;
}

.elementor-1409 .elementor-element.elementor-element-1c31370 {
    margin-top: -420px;
    margin-bottom: 0px;
    z-index: 2;
}

.elementor-1409 .elementor-element.elementor-element-3a7b34b:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-element-populated,
.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-element-populated>.elementor-background-overlay,
.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1409 .elementor-element.elementor-element-3a7b34b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 50px 40px 50px 40px;
}

.elementor-1409 .elementor-element.elementor-element-24391ae {
    text-align: left;
}

.elementor-1409 .elementor-element.elementor-element-24391ae .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.elementor-1409 .elementor-element.elementor-element-281d1bb {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1409 .elementor-element.elementor-element-281d1bb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-01af31e {
    color: #000000;
}

.elementor-1409 .elementor-element.elementor-element-01af31e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-5f64784 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #FF2D55;
    border-radius: 50px 50px 50px 50px;
    padding: 12px 30px 12px 30px;
}

.elementor-1409 .elementor-element.elementor-element-5f64784 .elementor-button:hover,
.elementor-1409 .elementor-element.elementor-element-5f64784 .elementor-button:focus {
    background-color: #DD072F;
}

.elementor-1409 .elementor-element.elementor-element-5f64784>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-5f64784 {
    width: auto;
    max-width: auto;
}

.elementor-1409 .elementor-element.elementor-element-bfb7d55 {
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 100px 0px 40px 0px;
}

.elementor-1409 .elementor-element.elementor-element-be9586d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-b7158d6 {
    text-align: center;
}

.elementor-1409 .elementor-element.elementor-element-b7158d6 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1409 .elementor-element.elementor-element-b7158d6>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1409 .elementor-element.elementor-element-9182e73 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1409 .elementor-element.elementor-element-9182e73>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-e5efb29 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-1409 .elementor-element.elementor-element-019e0e7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 20px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-0d88aba img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1409 .elementor-element.elementor-element-0d88aba>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-element.elementor-element-0d88aba {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 150ms !important;
}

.elementor-widget.elementor-element-0d88aba {
    opacity: 0;
}

.elementor-1409 .elementor-element.elementor-element-157dc02>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-101444c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-1409 .elementor-element.elementor-element-fe3756f .elementor-heading-title {
    color: #000000;
    font-family: "Work Sans", Sans-serif;
}

.elementor-1409 .elementor-element.elementor-element-fe3756f>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-c36961a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-9ebf03f {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-9ebf03f .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-1409 .elementor-element.elementor-element-9ebf03f>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1409 .elementor-element.elementor-element-023202e {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-023202e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
}

.elementor-1409 .elementor-element.elementor-element-72b98d5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 20px;
}

.elementor-1409 .elementor-element.elementor-element-1409284 img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1409 .elementor-element.elementor-element-1409284>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-element.elementor-element-1409284 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-1409284 {
    opacity: 0;
}

.elementor-1409 .elementor-element.elementor-element-cfc1f8d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-1f3c74e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-1409 .elementor-element.elementor-element-aed4a6f .elementor-heading-title {
    color: #000000;
    font-family: "Work Sans", Sans-serif;
}

.elementor-1409 .elementor-element.elementor-element-aed4a6f>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-0a470d7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-1d872d7 {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-1d872d7 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-1409 .elementor-element.elementor-element-1d872d7>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1409 .elementor-element.elementor-element-f45225c {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-f45225c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
}

.elementor-1409 .elementor-element.elementor-element-f52007b {
    margin-top: 0px;
    margin-bottom: 100px;
}

.elementor-1409 .elementor-element.elementor-element-2d3f7cb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 20px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-6c34216 img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1409 .elementor-element.elementor-element-6c34216>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-element.elementor-element-6c34216 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 150ms !important;
}

.elementor-widget.elementor-element-6c34216 {
    opacity: 0;
}

.elementor-1409 .elementor-element.elementor-element-1205be3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-81f0ade .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-1409 .elementor-element.elementor-element-a122fc6 .elementor-heading-title {
    color: #000000;
    font-family: "Work Sans", Sans-serif;
}

.elementor-1409 .elementor-element.elementor-element-a122fc6>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-5a8d5b6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-5dc9113 {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-5dc9113 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-1409 .elementor-element.elementor-element-5dc9113>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1409 .elementor-element.elementor-element-0884a61 {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-0884a61 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
}

.elementor-1409 .elementor-element.elementor-element-2eb50cf>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 20px;
}

.elementor-1409 .elementor-element.elementor-element-342e982 img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1409 .elementor-element.elementor-element-342e982>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-element.elementor-element-342e982 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-342e982 {
    opacity: 0;
}

.elementor-1409 .elementor-element.elementor-element-77b4324>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-d52e918 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
}

.elementor-1409 .elementor-element.elementor-element-90f5e66 .elementor-heading-title {
    color: #000000;
    font-family: "Work Sans", Sans-serif;
}

.elementor-1409 .elementor-element.elementor-element-90f5e66>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-af2fc1d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-f170dd9 {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-f170dd9 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-1409 .elementor-element.elementor-element-f170dd9>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1409 .elementor-element.elementor-element-cb284f2 {
    text-align: right;
}

.elementor-1409 .elementor-element.elementor-element-cb284f2 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7:not(.elementor-motion-effects-element-type-background),
.elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://raw.githubusercontent.com/arzuizza/Ahexma-Asset-Image/refs/heads/main/Travel%20V1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 140px 0px;
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-top .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-top svg {
    width: calc(190% + 1.3px);
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
}

.elementor-1409 .elementor-element.elementor-element-6cd612a.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1409 .elementor-element.elementor-element-6cd612a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1409 .elementor-element.elementor-element-6cd612a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1409 .elementor-element.elementor-element-10030d7 {
    text-align: center;
}

.elementor-1409 .elementor-element.elementor-element-10030d7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1409 .elementor-element.elementor-element-10030d7>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1409 .elementor-element.elementor-element-30c38a9 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1409 .elementor-element.elementor-element-30c38a9>.elementor-widget-container {
    margin: 10px 0px 30px 0px;
}

.elementor-1409 .elementor-element.elementor-element-8ebd5b5 .countdown-wrapper .countdown-clock-col {
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    background: #FF2D54CC;
}

.elementor-1409 .elementor-element.elementor-element-8ebd5b5 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1409 .elementor-element.elementor-element-8ebd5b5 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
}

.elementor-1409 .elementor-element.elementor-element-8ebd5b5 {
    width: auto;
    max-width: auto;
}

@media(min-width:768px) {
    .elementor-1409 .elementor-element.elementor-element-157dc02 {
        width: 70%;
    }

    .elementor-1409 .elementor-element.elementor-element-c36961a {
        width: 30%;
    }

    .elementor-1409 .elementor-element.elementor-element-cfc1f8d {
        width: 70%;
    }

    .elementor-1409 .elementor-element.elementor-element-0a470d7 {
        width: 30%;
    }

    .elementor-1409 .elementor-element.elementor-element-1205be3 {
        width: 70%;
    }

    .elementor-1409 .elementor-element.elementor-element-5a8d5b6 {
        width: 30%;
    }

    .elementor-1409 .elementor-element.elementor-element-77b4324 {
        width: 70%;
    }

    .elementor-1409 .elementor-element.elementor-element-af2fc1d {
        width: 30%;
    }
}

@media(max-width:1024px) {
    .elementor-1409 .elementor-element.elementor-element-de45916>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1409 .elementor-element.elementor-element-1c31370 {
        margin-top: -500px;
        margin-bottom: 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-24391ae .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1409 .elementor-element.elementor-element-281d1bb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-bfb7d55 {
        padding: 80px 0px 40px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-b7158d6 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1409 .elementor-element.elementor-element-9182e73>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-81f0ade .elementor-heading-title {
        line-height: 1.3em;
    }

    .elementor-1409 .elementor-element.elementor-element-d52e918 .elementor-heading-title {
        line-height: 1.3em;
    }

    .elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-top svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1409 .elementor-element.elementor-element-10030d7 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1409 .elementor-element.elementor-element-30c38a9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-8ebd5b5 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 40px;
    }
}

@media(max-width:767px) {
    .elementor-1409 .elementor-element.elementor-element-de45916>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1409 .elementor-element.elementor-element-24391ae .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1409 .elementor-element.elementor-element-24391ae>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-281d1bb {
        text-align: center;
    }

    .elementor-1409 .elementor-element.elementor-element-281d1bb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-01af31e {
        text-align: center;
    }

    .elementor-1409 .elementor-element.elementor-element-5f64784>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-bfb7d55 {
        padding: 100px 0px 20px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-be9586d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1409 .elementor-element.elementor-element-b7158d6 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1409 .elementor-element.elementor-element-b7158d6>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-9182e73 {
        text-align: center;
    }

    .elementor-1409 .elementor-element.elementor-element-9182e73>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-e5efb29 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-019e0e7>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-72b98d5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-f52007b {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1409 .elementor-element.elementor-element-2d3f7cb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-2eb50cf>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-top svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1409 .elementor-element.elementor-element-c72d7c7>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1409 .elementor-element.elementor-element-c72d7c7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 80px 0px 80px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-6cd612a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-10030d7 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1409 .elementor-element.elementor-element-10030d7>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-30c38a9 {
        text-align: center;
    }

    .elementor-1409 .elementor-element.elementor-element-30c38a9>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1409 .elementor-element.elementor-element-8ebd5b5 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 31px;
    }

    .elementor-1409 .elementor-element.elementor-element-8ebd5b5 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
        font-size: 10px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1409 .elementor-element.elementor-element-3a7b34b {
        width: 50%;
    }
}