.elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-container {
    min-height: 800px;
}

.elementor-1874 .elementor-element.elementor-element-2844d6f .elementor-background-slideshow__slide__image {
    background-size: cover;
    background-position: center center;
}

.elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-2844d6f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
    height: 121px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-1874 .elementor-element.elementor-element-f55b98d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1874 .elementor-element.elementor-element-f55b98d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-2b1331e {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-2b1331e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h1 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h2 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h3 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h4 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h5 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h6 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline div {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline p {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h1,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h2,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h3,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h4,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h5,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h6,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline div,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span,
.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline p {
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    line-height: 0.8em;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span.ah-words-wrapper {
    color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span.ah-words-wrapper b {
    font-family: "Poppins", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3em;
}

.elementor-1874 .elementor-element.elementor-element-72c8c1f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-f1927bc {
    text-align: center;
    color: #FFFFFFA3;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-1874 .elementor-element.elementor-element-f1927bc>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-1874 .elementor-element.elementor-element-1b5b040 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #007BFF;
    border-radius: 50px 50px 50px 50px;
    padding: 17px 40px 17px 40px;
}

.elementor-1874 .elementor-element.elementor-element-1b5b040 .elementor-button:hover,
.elementor-1874 .elementor-element.elementor-element-1b5b040 .elementor-button:focus {
    background-color: #DD072F;
}

.elementor-1874 .elementor-element.elementor-element-1b5b040>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-1874 .elementor-element.elementor-element-1b5b040 {
    width: auto;
    max-width: auto;
}

.elementor-1874 .elementor-element.elementor-element-c267a2e:not(.elementor-motion-effects-element-type-background),
.elementor-1874 .elementor-element.elementor-element-c267a2e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-c267a2e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 130px 0px;
}

.elementor-1874 .elementor-element.elementor-element-c267a2e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-c267a2e>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-c267a2e>.elementor-shape-bottom svg {
    width: calc(196% + 1.3px);
    height: 77px;
}

.elementor-1874 .elementor-element.elementor-element-3dbd22d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 12% 0% 12%;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text {
    text-align: left;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h1 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h2 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h3 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h4 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h5 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h6 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text div {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text span {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text p {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h1,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h2,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h3,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h4,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h5,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h6,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text div,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text span,
.elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text p {
    font-family: "Poppins", Sans-serif;
    font-size: 32px;
}

.elementor-1874 .elementor-element.elementor-element-fcb5484 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-fcb5484>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-element.elementor-element-fcb5484 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-fcb5484 {
    opacity: 0;
}

.elementor-1874 .elementor-element.elementor-element-8ec2485>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-8ec2485 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 250ms !important;
}

.elementor-widget.elementor-element-8ec2485 {
    opacity: 0;
}

.elementor-1874 .elementor-element.elementor-element-cefbb23 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-1874 .elementor-element.elementor-element-84ff7d8 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-bee221e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-bee221e {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 300ms !important;
}

.elementor-widget.elementor-element-bee221e {
    opacity: 0;
}

.elementor-1874 .elementor-element.elementor-element-f357b99 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-1874 .elementor-element.elementor-element-e4ce1d5 {
    color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-6694bae>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-6694bae {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 350ms !important;
}

.elementor-widget.elementor-element-6694bae {
    opacity: 0;
}

.elementor-1874 .elementor-element.elementor-element-e51a66c .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #FF2D55;
    border-radius: 50px 50px 50px 50px;
    padding: 12px 30px 12px 30px;
}

.elementor-1874 .elementor-element.elementor-element-e51a66c .elementor-button:hover,
.elementor-1874 .elementor-element.elementor-element-e51a66c .elementor-button:focus {
    background-color: #DD072F;
}

.elementor-1874 .elementor-element.elementor-element-e51a66c>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-1874 .elementor-element.elementor-element-e51a66c {
    width: auto;
    max-width: auto;
}

.elementor-1874 .elementor-element.elementor-element-9d01b7b:not(.elementor-motion-effects-element-type-background),
.elementor-1874 .elementor-element.elementor-element-9d01b7b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-9d01b7b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 40px 0px;
}

.elementor-1874 .elementor-element.elementor-element-9d01b7b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-838492d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper {
    width: 100%;
    height: 600px;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content {
    background: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content>div h1 {
    color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content div h1 {
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content span {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper .content span {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content>div p {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content>div a {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro div.content a {
    border-color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro nav a {
    background: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper {
    width: 100%;
    height: 600px;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content {
    background: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content>div h1 {
    color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content div h1 {
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content span {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper .content span {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content>div p {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content>div a {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro div.content a {
    border-color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro nav a {
    background: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-78e131f:not(.elementor-motion-effects-element-type-background),
.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://raw.githubusercontent.com/arzuizza/Ahexma-Asset-Image/refs/heads/main/Pondok%20Gede%20V1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-78e131f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 180px 0px 180px 0px;
}

.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-top .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-top svg {
    width: calc(185% + 1.3px);
    height: 67px;
}

.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-bottom svg {
    width: calc(284% + 1.3px);
    height: 77px;
}

.elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none;
}

.elementor-1874 .elementor-element.elementor-element-e3c7ca7.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1874 .elementor-element.elementor-element-e3c7ca7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1874 .elementor-element.elementor-element-e3c7ca7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-51ea239 {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-51ea239 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-51ea239>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1874 .elementor-element.elementor-element-0086476 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1874 .elementor-element.elementor-element-0086476>.elementor-widget-container {
    margin: 10px 0px 30px 0px;
}

.elementor-1874 .elementor-element.elementor-element-c5f3f72 .countdown-wrapper .countdown-clock-col {
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    background: #FF2D54CC;
}

.elementor-1874 .elementor-element.elementor-element-c5f3f72 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-c5f3f72 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
}

.elementor-1874 .elementor-element.elementor-element-c5f3f72 {
    width: auto;
    max-width: auto;
}

.elementor-1874 .elementor-element.elementor-element-fb61bd6:not(.elementor-motion-effects-element-type-background),
.elementor-1874 .elementor-element.elementor-element-fb61bd6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-fb61bd6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 120px 0px;
}

.elementor-1874 .elementor-element.elementor-element-fb61bd6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-fb61bd6>.elementor-shape-bottom .elementor-shape-fill {
    fill: #F0F0F0;
}

.elementor-1874 .elementor-element.elementor-element-fb61bd6>.elementor-shape-bottom svg {
    height: 72px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-1874 .elementor-element.elementor-element-a62ad74>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-12f93e9 {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-12f93e9 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-57cbb3c {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-57cbb3c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-b649703:not(.elementor-motion-effects-element-type-background),
.elementor-1874 .elementor-element.elementor-element-b649703>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-1874 .elementor-element.elementor-element-b649703 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 60px 0px;
}

.elementor-1874 .elementor-element.elementor-element-b649703>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-b649703>.elementor-shape-bottom svg {
    width: calc(186% + 1.3px);
    height: 220px;
}

.elementor-1874 .elementor-element.elementor-element-2ecbb53>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li.scheduleday_title h4 {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li.scheduleday_title h4,
.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li.scheduleday_title .scheduleday_title_icon span {
    color: #ffffff;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper li.scheduleday_title,
.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper.tab {
    background: #007AFF;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper li.scheduleday_title {
    border-color: #007AFF;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li.scheduleday_title.active h4,
.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li.scheduleday_title.active .scheduleday_title_icon span {
    color: #ffffff;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper li.scheduleday_title.active {
    background: #0061CB;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper.tab li.scheduleday_title.active {
    border-color: #007AFF;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper li.scheduleday_title,
.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper,
.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper li .session_content_wrapper {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li .session_content h6 {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li .expandable,
.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li .session_content_wrapper {
    background: #ffffff;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li .session_location {
    border-color: #e1e1e1;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li {
    color: #222222;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li a {
    color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li a:hover {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .scheduleday_wrapper li .session_speaker_thumb img {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .session_filters li a,
.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper a.session_expand_all {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .session_filters li a:hover {
    color: #ffffff;
    background-color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .session_filters li a.active {
    color: #ffffff;
    background-color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .session_filters li a {
    border-radius: 25px 25px 25px 25px;
}

.elementor-element.elementor-element-e359b6f {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 150ms !important;
}

.elementor-widget.elementor-element-e359b6f {
    opacity: 0;
}

.elementor-1874 .elementor-element.elementor-element-6e03017:not(.elementor-motion-effects-element-type-background),
.elementor-1874 .elementor-element.elementor-element-6e03017>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-6e03017 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-1874 .elementor-element.elementor-element-6e03017>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-29de189>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-7920967 {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-7920967 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-bfdeefd {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-bfdeefd .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-564799d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-43d501f .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    color: #FF2D55;
}

.elementor-1874 .elementor-element.elementor-element-43d501f .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
    font-family: "Work Sans", Sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.elementor-1874 .elementor-element.elementor-element-491a793 {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-c70f4d4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-3e8d036 .eb-map {
    height: 600px;
}

.elementor-1874 .elementor-element.elementor-element-5a545e5 {
    margin-top: -440px;
    margin-bottom: 60px;
    z-index: 2;
}

.elementor-1874 .elementor-element.elementor-element-a183796:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-element-populated,
.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-element-populated>.elementor-background-overlay,
.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-a183796>.elementor-element-populated>.elementor-widget-wrap {
    padding: 50px 40px 30px 40px;
}

.elementor-1874 .elementor-element.elementor-element-9e9002c {
    text-align: left;
}

.elementor-1874 .elementor-element.elementor-element-9e9002c .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-df81b7c {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1874 .elementor-element.elementor-element-df81b7c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-8d7c459 {
    color: #000000;
}

.elementor-1874 .elementor-element.elementor-element-8d7c459>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1874 .elementor-element.elementor-element-cdda1bd>.elementor-container {
    min-height: 500px;
}

 /*
 .elementor-1874 .elementor-element.elementor-element-cdda1bd>.elementor-background-overlay {
   background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s; 
}
*/

.elementor-1874 .elementor-element.elementor-element-cdda1bd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1874 .elementor-element.elementor-element-7b62b81.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1874 .elementor-element.elementor-element-7b62b81>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 20% 0% 20%;
}

.elementor-1874 .elementor-element.elementor-element-657291a {
    text-align: center;
}

.elementor-1874 .elementor-element.elementor-element-657291a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1874 .elementor-element.elementor-element-ac2c441 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1874 .elementor-element.elementor-element-ac2c441>.elementor-widget-container {
    margin: 10px 0px 20px 0px;
}

.elementor-1874 .elementor-element.elementor-element-9601f62 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FF2D55;
    border-radius: 50px 50px 50px 50px;
    padding: 17px 40px 17px 40px;
}

.elementor-1874 .elementor-element.elementor-element-9601f62 .elementor-button:hover,
.elementor-1874 .elementor-element.elementor-element-9601f62 .elementor-button:focus {
    background-color: #DD072F;
}

.elementor-1874 .elementor-element.elementor-element-9601f62>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-1874 .elementor-element.elementor-element-9601f62 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1874 .elementor-element.elementor-element-a183796 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-container {
        min-height: 600px;
    }

    .elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1874 .elementor-element.elementor-element-2b1331e .elementor-heading-title {
        font-size: 55px;
    }

    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h1,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h2,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h3,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h4,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h5,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h6,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline div,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline p {
        font-size: 55px;
    }

    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span.ah-words-wrapper b {
        font-size: 55px;
    }

    .elementor-1874 .elementor-element.elementor-element-f1927bc>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-3dbd22d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 5% 0% 5%;
    }

    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h1,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h2,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h3,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h4,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h5,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h6,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text div,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text span,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text p {
        font-size: 28px;
    }

    .elementor-1874 .elementor-element.elementor-element-cefbb23 .elementor-heading-title {
        font-size: 14px;
    }

    .elementor-1874 .elementor-element.elementor-element-f357b99 .elementor-heading-title {
        font-size: 14px;
    }

    .elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper {
        height: 500px;
    }

    .elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 36px;
    }

    .elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper .content span {
        font-size: 13px;
    }

    .elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper {
        height: 500px;
    }

    .elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 36px;
    }

    .elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper .content span {
        font-size: 13px;
    }

    .elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-top svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1874 .elementor-element.elementor-element-51ea239 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1874 .elementor-element.elementor-element-0086476>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-c5f3f72 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-fb61bd6>.elementor-shape-bottom svg {
        width: calc(100% + 1.3px);
        height: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-fb61bd6 {
        padding: 60px 0px 100px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-12f93e9 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1874 .elementor-element.elementor-element-57cbb3c .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1874 .elementor-element.elementor-element-b649703 {
        padding: 20px 0px 40px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-6e03017 {
        padding: 60px 0px 40px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-7920967 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1874 .elementor-element.elementor-element-bfdeefd .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1874 .elementor-element.elementor-element-43d501f .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
        font-size: 18px;
    }

    .elementor-1874 .elementor-element.elementor-element-43d501f .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
        font-size: 12px;
    }

    .elementor-1874 .elementor-element.elementor-element-5a545e5 {
        margin-top: -500px;
        margin-bottom: 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-a183796>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 40px 40px 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-9e9002c .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1874 .elementor-element.elementor-element-df81b7c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-cdda1bd>.elementor-container {
        min-height: 500px;
    }

    .elementor-1874 .elementor-element.elementor-element-7b62b81>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 0% 0% 0%;
    }

    .elementor-1874 .elementor-element.elementor-element-657291a .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-1874 .elementor-element.elementor-element-ac2c441>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-container {
        min-height: 500px;
    }

    .elementor-1874 .elementor-element.elementor-element-2844d6f>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
        height: 52px;
    }

    .elementor-1874 .elementor-element.elementor-element-2b1331e .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h1,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h2,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h3,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h4,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h5,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline h6,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline div,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span,
    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline p {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-72c8c1f .themegoods-animated-headline span.ah-words-wrapper b {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-f1927bc {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-f1927bc>.elementor-widget-container {
        margin: 0px 30px 0px 30px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-1b5b040>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-c267a2e>.elementor-shape-bottom svg {
        width: calc(280% + 1.3px);
        height: 48px;
    }

    .elementor-1874 .elementor-element.elementor-element-c267a2e {
        padding: 40px 0px 80px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h1,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h2,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h3,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h4,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h5,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text h6,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text div,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text span,
    .elementor-1874 .elementor-element.elementor-element-e131803 .themegoods-animated-text p {
        font-size: 26px;
    }

    .elementor-1874 .elementor-element.elementor-element-fcb5484 {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-8ec2485 {
        width: 50%;
    }

    .elementor-1874 .elementor-element.elementor-element-bee221e {
        width: 50%;
    }

    .elementor-1874 .elementor-element.elementor-element-6694bae {
        width: 100%;
    }

    .elementor-1874 .elementor-element.elementor-element-6694bae.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-1874 .elementor-element.elementor-element-e51a66c>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-9d01b7b {
        padding: 0px 0px 20px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-7cb502c .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 32px;
    }

    .elementor-1874 .elementor-element.elementor-element-9596598 .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 32px;
    }

    .elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-top svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1874 .elementor-element.elementor-element-78e131f>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1874 .elementor-element.elementor-element-78e131f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 120px 0px 120px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-e3c7ca7>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-51ea239 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1874 .elementor-element.elementor-element-51ea239>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-0086476 {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-0086476>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-c5f3f72 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 31px;
    }

    .elementor-1874 .elementor-element.elementor-element-c5f3f72 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
        font-size: 10px;
    }

    .elementor-1874 .elementor-element.elementor-element-fb61bd6>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1874 .elementor-element.elementor-element-fb61bd6 {
        padding: 20px 0px 80px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-a62ad74>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1874 .elementor-element.elementor-element-12f93e9 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-57cbb3c .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-b649703>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
        height: 47px;
    }

    .elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li.scheduleday_title h4 {
        font-size: 14px;
    }

    .elementor-1874 .elementor-element.elementor-element-e359b6f .session-tab-wrapper .scheduleday_wrapper li .session_content h6 {
        font-size: 16px;
    }

    .elementor-1874 .elementor-element.elementor-element-6e03017 {
        padding: 60px 0px 40px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-29de189>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1874 .elementor-element.elementor-element-7920967 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-bfdeefd .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-43d501f .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
        font-size: 24px;
    }

    .elementor-1874 .elementor-element.elementor-element-43d501f .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
        font-size: 14px;
    }

    .elementor-1874 .elementor-element.elementor-element-9e9002c .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1874 .elementor-element.elementor-element-9e9002c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-df81b7c {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-df81b7c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-8d7c459 {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-cdda1bd>.elementor-container {
        min-height: 500px;
    }

    .elementor-1874 .elementor-element.elementor-element-657291a .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1874 .elementor-element.elementor-element-ac2c441 {
        text-align: center;
    }

    .elementor-1874 .elementor-element.elementor-element-ac2c441>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1874 .elementor-element.elementor-element-9601f62>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
}