.elementor-1076 .elementor-element.elementor-element-c926672:not(.elementor-motion-effects-element-type-background),
.elementor-1076 .elementor-element.elementor-element-c926672>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-c926672 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 160px 0px 80px 0px;
}

.elementor-1076 .elementor-element.elementor-element-c926672>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1076 .elementor-element.elementor-element-c926672>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-1076 .elementor-element.elementor-element-c926672>.elementor-shape-bottom svg {
    height: 79px;
}

.elementor-1076 .elementor-element.elementor-element-88035e1>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1076 .elementor-element.elementor-element-bb200df {
    text-align: center;
}

.elementor-1076 .elementor-element.elementor-element-bb200df .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1076 .elementor-element.elementor-element-95dfccc {
    text-align: center;
}

.elementor-1076 .elementor-element.elementor-element-95dfccc .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-1076 .elementor-element.elementor-element-8b8d40b:not(.elementor-motion-effects-element-type-background),
.elementor-1076 .elementor-element.elementor-element-8b8d40b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-8b8d40b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 40px 0px 40px;
}

.elementor-1076 .elementor-element.elementor-element-8b8d40b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1076 .elementor-element.elementor-element-5f5c6bd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1076 .elementor-element.elementor-element-5f5c6bd>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-featured-image-hover,
.elementor-1076 .elementor-element.elementor-element-1d08199 .type-post.blog-posts-grid_no_space,
.elementor-1076 .elementor-element.elementor-element-1d08199 .type-post.blog-posts-metro_no_space {
    border-radius: 15px;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-header h5 a {
    color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-header h5 {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-info-cat a {
    color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-detail.single-post {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-header-wrapper>p {
    color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 a.continue-reading {
    color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-featured-date-wrapper {
    font-family: "Poppins", Sans-serif;
    font-weight: 700;
    background: #00000085;
    border-radius: 15px;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-featured-date {
    color: #FFFFFF;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .post-featured-month {
    color: #FFFFFF;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .pagination a,
.elementor-1076 .elementor-element.elementor-element-1d08199 .pagination-detail {
    color: #000000;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .pagination a:hover {
    color: #ffffff;
    background-color: #FF2D55;
}

.elementor-1076 .elementor-element.elementor-element-1d08199 .pagination span.current {
    color: #ffffff;
    background-color: #FF2D55;
}

body.elementor-page-1076:not(.elementor-motion-effects-element-type-background),
body.elementor-page-1076>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

@media(max-width:1024px) {
    .elementor-1076 .elementor-element.elementor-element-c926672>.elementor-shape-bottom svg {
        width: calc(125% + 1.3px);
    }

    .elementor-1076 .elementor-element.elementor-element-c926672 {
        padding: 140px 0px 0px 0px;
    }

    .elementor-1076 .elementor-element.elementor-element-bb200df .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1076 .elementor-element.elementor-element-95dfccc .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-1076 .elementor-element.elementor-element-8b8d40b {
        padding: 60px 20px 0px 20px;
    }

    .elementor-1076 .elementor-element.elementor-element-1d08199 .post-header h5 {
        font-size: 24px;
    }
}

@media(max-width:767px) {
    .elementor-1076 .elementor-element.elementor-element-c926672>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1076 .elementor-element.elementor-element-c926672 {
        padding: 110px 0px 40px 0px;
    }

    .elementor-1076 .elementor-element.elementor-element-88035e1>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1076 .elementor-element.elementor-element-bb200df .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1076 .elementor-element.elementor-element-95dfccc .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1076 .elementor-element.elementor-element-8b8d40b {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1076 .elementor-element.elementor-element-5f5c6bd>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1076 .elementor-element.elementor-element-1d08199 .post-header h5 {
        font-size: 20px;
    }

    .elementor-1076 .elementor-element.elementor-element-1d08199 .post-detail.single-post {
        font-size: 12px;
    }
}