.elementor-881 .elementor-element.elementor-element-5edcaf2:not(.elementor-motion-effects-element-type-background),
.elementor-881 .elementor-element.elementor-element-5edcaf2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-881 .elementor-element.elementor-element-5edcaf2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 60px 0px 60px 0px;
}

.elementor-881 .elementor-element.elementor-element-5edcaf2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-881 .elementor-element.elementor-element-21b9aeb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-b64a8b4 img {
    width: 170px;
}

.elementor-881 .elementor-element.elementor-element-b64a8b4>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-881 .elementor-element.elementor-element-b64a8b4 {
    width: auto;
    max-width: auto;
}

.elementor-881 .elementor-element.elementor-element-b384fa9 {
    color: #CCCCCC;
}

.elementor-881 .elementor-element.elementor-element-3b4f791 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 25px;
    --grid-column-gap: 12px;
    --grid-row-gap: 0px;
}

.elementor-881 .elementor-element.elementor-element-3b4f791 .elementor-widget-container {
    text-align: left;
}

.elementor-881 .elementor-element.elementor-element-3b4f791>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-37851bb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-cb9b4fb .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-881 .elementor-element.elementor-element-cb9b4fb>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-881 .elementor-element.elementor-element-4d2180e {
    color: #CCCCCC;
}

.elementor-881 .elementor-element.elementor-element-cf570f6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 40px;
}

.elementor-881 .elementor-element.elementor-element-bb47031 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-881 .elementor-element.elementor-element-bb47031>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-881 .elementor-element.elementor-element-6e7023e .grandconference-gallery-grid-content-wrapper .gallery-grid-item {
    border-width: 5px;
}

.elementor-881 .elementor-element.elementor-element-6e7023e .grandconference-gallery-grid-content-wrapper div.gallery-grid-item {
    border-color: #000000;
    border-radius: 15px;
}

.elementor-881 .elementor-element.elementor-element-6e7023e .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.elementor-881 .elementor-element.elementor-element-6e7023e .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
    color: #ffffff;
}

.elementor-881 .elementor-element.elementor-element-acfc1ef:not(.elementor-motion-effects-element-type-background),
.elementor-881 .elementor-element.elementor-element-acfc1ef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-881 .elementor-element.elementor-element-acfc1ef {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-881 .elementor-element.elementor-element-acfc1ef>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-881 .elementor-element.elementor-element-5e944a7.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-881 .elementor-element.elementor-element-5e944a7.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-881 .elementor-element.elementor-element-5e944a7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-006c3c8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.elementor-881 .elementor-element.elementor-element-006c3c8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-cf83427.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-881 .elementor-element.elementor-element-cf83427>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li>a {
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li.arrow>a:after {
    line-height: 2.6em;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li {
    margin: 0px 5px 0px 5px;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav {
    text-align: left;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li>ul.sub-menu {
    margin: 0px 0px 0px -20px;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul.sub-menu {
    text-align: left;
    border-radius: 5px;
    background: #ffffff;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li>a:hover {
    color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav ul li>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper div .nav li>a:before {
    background-color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li.current-menu-item>a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li.current-menu-parent>a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a {
    color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li.current-menu-item>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li.current-menu-parent>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li a {
    color: #000000;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li a:hover {
    color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li>a:before {
    background-color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li.current-menu-parent ul>li.current-menu-item>a {
    color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-881 .elementor-element.elementor-element-f3405cf .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-881 .elementor-element.elementor-element-f3405cf>.elementor-widget-container {
    margin: 08px 0px 0px 0px;
}

.elementor-881 .elementor-element.elementor-element-f3405cf {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-881 .elementor-element.elementor-element-5edcaf2 {
        padding: 60px 30px 60px 30px;
    }

    .elementor-881 .elementor-element.elementor-element-b64a8b4 img {
        width: 160px;
    }

    .elementor-881 .elementor-element.elementor-element-b64a8b4>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-881 .elementor-element.elementor-element-3b4f791 {
        --icon-size: 25px;
        --grid-column-gap: 8px;
    }

    .elementor-881 .elementor-element.elementor-element-37851bb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-881 .elementor-element.elementor-element-acfc1ef {
        padding: 20px 30px 20px 30px;
    }
}

@media(max-width:767px) {
    .elementor-881 .elementor-element.elementor-element-5edcaf2 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-881 .elementor-element.elementor-element-21b9aeb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-881 .elementor-element.elementor-element-37851bb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 0px 20px;
    }

    .elementor-881 .elementor-element.elementor-element-cf570f6>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 0px 20px;
    }

    .elementor-881 .elementor-element.elementor-element-acfc1ef {
        padding: 40px 0px 20px 0px;
    }

    .elementor-881 .elementor-element.elementor-element-006c3c8 {
        text-align: center;
    }

    .elementor-881 .elementor-element.elementor-element-cf83427.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-881 .elementor-element.elementor-element-cf83427>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
}