.elementor-1305 .elementor-element.elementor-element-6226e0f:not(.elementor-motion-effects-element-type-background),
.elementor-1305 .elementor-element.elementor-element-6226e0f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1305 .elementor-element.elementor-element-6226e0f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 0px 60px 0px;
}

.elementor-1305 .elementor-element.elementor-element-6226e0f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1305 .elementor-element.elementor-element-d939ea3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-fcb4c48 img {
    width: 170px;
}

.elementor-1305 .elementor-element.elementor-element-fcb4c48>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1305 .elementor-element.elementor-element-fcb4c48 {
    width: auto;
    max-width: auto;
}

.elementor-1305 .elementor-element.elementor-element-fd18b3b {
    color: #CCCCCC;
}

.elementor-1305 .elementor-element.elementor-element-321dc86 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 25px;
    --grid-column-gap: 12px;
    --grid-row-gap: 0px;
}

.elementor-1305 .elementor-element.elementor-element-321dc86 .elementor-widget-container {
    text-align: left;
}

.elementor-1305 .elementor-element.elementor-element-321dc86>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-4c86030>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-f1fddb1 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-1305 .elementor-element.elementor-element-f1fddb1>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-1305 .elementor-element.elementor-element-71fdeb9 {
    color: #CCCCCC;
}

.elementor-1305 .elementor-element.elementor-element-c4d9f74>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 40px;
}

.elementor-1305 .elementor-element.elementor-element-06081fa .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-1305 .elementor-element.elementor-element-06081fa>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-1305 .elementor-element.elementor-element-6792054 .grandconference-gallery-grid-content-wrapper .gallery-grid-item {
    border-width: 5px;
}

.elementor-1305 .elementor-element.elementor-element-6792054 .grandconference-gallery-grid-content-wrapper div.gallery-grid-item {
    border-color: #000000;
    border-radius: 15px;
}

.elementor-1305 .elementor-element.elementor-element-6792054 .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.elementor-1305 .elementor-element.elementor-element-6792054 .grandconference-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
    color: #ffffff;
}

.elementor-1305 .elementor-element.elementor-element-ed33665:not(.elementor-motion-effects-element-type-background),
.elementor-1305 .elementor-element.elementor-element-ed33665>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1305 .elementor-element.elementor-element-ed33665 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #333333;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-1305 .elementor-element.elementor-element-ed33665>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1305 .elementor-element.elementor-element-559e5d7.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1305 .elementor-element.elementor-element-559e5d7.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1305 .elementor-element.elementor-element-559e5d7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-efe98c2 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.elementor-1305 .elementor-element.elementor-element-efe98c2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-de7028c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1305 .elementor-element.elementor-element-de7028c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li>a {
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li.arrow>a:after {
    line-height: 2.6em;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li {
    margin: 0px 5px 0px 5px;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav {
    text-align: left;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li>ul.sub-menu {
    margin: 0px 0px 0px -20px;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul.sub-menu {
    text-align: left;
    border-radius: 5px;
    background: #ffffff;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li>a:hover {
    color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav ul li>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper div .nav li>a:before {
    background-color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li.current-menu-item>a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li.current-menu-parent>a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a {
    color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li.current-menu-item>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li.current-menu-parent>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li a {
    color: #000000;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li a:hover {
    color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li>a:before {
    background-color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li.current-menu-parent ul>li.current-menu-item>a {
    color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-1305 .elementor-element.elementor-element-9464494 .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-1305 .elementor-element.elementor-element-9464494>.elementor-widget-container {
    margin: 08px 0px 0px 0px;
}

.elementor-1305 .elementor-element.elementor-element-9464494 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-1305 .elementor-element.elementor-element-6226e0f {
        padding: 60px 30px 60px 30px;
    }

    .elementor-1305 .elementor-element.elementor-element-fcb4c48 img {
        width: 160px;
    }

    .elementor-1305 .elementor-element.elementor-element-fcb4c48>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-1305 .elementor-element.elementor-element-321dc86 {
        --icon-size: 25px;
        --grid-column-gap: 8px;
    }

    .elementor-1305 .elementor-element.elementor-element-4c86030>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1305 .elementor-element.elementor-element-ed33665 {
        padding: 20px 30px 20px 30px;
    }
}

@media(max-width:767px) {
    .elementor-1305 .elementor-element.elementor-element-6226e0f {
        padding: 60px 0px 60px 0px;
    }

    .elementor-1305 .elementor-element.elementor-element-d939ea3>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1305 .elementor-element.elementor-element-4c86030>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 0px 20px;
    }

    .elementor-1305 .elementor-element.elementor-element-c4d9f74>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 0px 20px;
    }

    .elementor-1305 .elementor-element.elementor-element-ed33665 {
        padding: 40px 0px 20px 0px;
    }

    .elementor-1305 .elementor-element.elementor-element-efe98c2 {
        text-align: center;
    }

    .elementor-1305 .elementor-element.elementor-element-de7028c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-1305 .elementor-element.elementor-element-de7028c>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
}