.elementor-1774 .elementor-element.elementor-element-dbd2768>.elementor-container {
    min-height: 700px;
}

.elementor-1774 .elementor-element.elementor-element-dbd2768:not(.elementor-motion-effects-element-type-background),
.elementor-1774 .elementor-element.elementor-element-dbd2768>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://raw.githubusercontent.com/arzuizza/Ahexma-Asset-Image/refs/heads/main/Panitia%20V1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1774 .elementor-element.elementor-element-dbd2768>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1774 .elementor-element.elementor-element-dbd2768 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1774 .elementor-element.elementor-element-d0279ab>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 0px 0px;
}

.elementor-1774 .elementor-element.elementor-element-7d2110e {
    text-align: center;
}

.elementor-1774 .elementor-element.elementor-element-7d2110e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-element.elementor-element-7d2110e {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-7d2110e {
    opacity: 0;
}

.elementor-1774 .elementor-element.elementor-element-a2efca1 {
    text-align: center;
}

.elementor-1774 .elementor-element.elementor-element-a2efca1 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 700;
}

.elementor-element.elementor-element-a2efca1 {
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
    transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-a2efca1 {
    opacity: 0;
}

.elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-top .elementor-shape-fill {
    fill: #000000;
}

.elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-top svg {
    width: calc(190% + 1.3px);
}

.elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-top {
    z-index: 2;
    pointer-events: none;
}

.elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
}

.elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none;
}

.elementor-1774 .elementor-element.elementor-element-1b339f6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper {
    width: 100%;
    height: 600px;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content {
    background: #FF2D54;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content>div h1 {
    color: #FFFFFF;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content div h1 {
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content span {
    color: #FFFFFF;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper .content span {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content>div p {
    color: #FFFFFF;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content>div a {
    color: #FFFFFF;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro div.content a {
    border-color: #FFFFFF;
}

.elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro nav a {
    background: #FF2D54;
}

.elementor-1774 .elementor-element.elementor-element-7476959 {
    padding: 100px 0px 40px 0px;
}

.elementor-1774 .elementor-element.elementor-element-b75d774>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1774 .elementor-element.elementor-element-8eb4629 {
    text-align: center;
}

.elementor-1774 .elementor-element.elementor-element-8eb4629 .elementor-heading-title {
    color: #FF2D55;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1774 .elementor-element.elementor-element-8eb4629>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1774 .elementor-element.elementor-element-d5cd5dd {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1774 .elementor-element.elementor-element-d5cd5dd>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1774 .elementor-element.elementor-element-3fd437c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1774 .elementor-element.elementor-element-f1be475 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    color: #FF2D55;
}

.elementor-1774 .elementor-element.elementor-element-f1be475 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
    font-family: "Work Sans", Sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.elementor-1774 .elementor-element.elementor-element-ad67a91:not(.elementor-motion-effects-element-type-background),
.elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://raw.githubusercontent.com/arzuizza/Ahexma-Asset-Image/refs/heads/main/Panitia%20V1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1774 .elementor-element.elementor-element-ad67a91 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 140px 0px;
}

.elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000000;
}

.elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-shape-bottom svg {
    width: calc(190% + 1.3px);
}

.elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none;
}

.elementor-1774 .elementor-element.elementor-element-051fa4f.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1774 .elementor-element.elementor-element-051fa4f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1774 .elementor-element.elementor-element-051fa4f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1774 .elementor-element.elementor-element-62b7159 {
    text-align: center;
}

.elementor-1774 .elementor-element.elementor-element-62b7159 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1774 .elementor-element.elementor-element-62b7159>.elementor-widget-container {
    margin: 0% 10% 0% 10%;
}

.elementor-1774 .elementor-element.elementor-element-dc24097 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-1774 .elementor-element.elementor-element-dc24097>.elementor-widget-container {
    margin: 10px 0px 30px 0px;
}

.elementor-1774 .elementor-element.elementor-element-ae6ae22 .countdown-wrapper .countdown-clock-col {
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    background: #FF2D54CC;
}

.elementor-1774 .elementor-element.elementor-element-ae6ae22 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.elementor-1774 .elementor-element.elementor-element-ae6ae22 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
    color: #FFFFFF;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
}

.elementor-1774 .elementor-element.elementor-element-ae6ae22 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-1774 .elementor-element.elementor-element-dbd2768>.elementor-container {
        min-height: 600px;
    }

    .elementor-1774 .elementor-element.elementor-element-7d2110e .elementor-heading-title {
        font-size: 55px;
    }

    .elementor-1774 .elementor-element.elementor-element-a2efca1 .elementor-heading-title {
        font-size: 55px;
    }

    .elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-top svg {
        width: calc(350% + 1.3px);
    }

    .elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-bottom svg {
        width: calc(350% + 1.3px);
    }

    .elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper {
        height: 500px;
    }

    .elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 36px;
    }

    .elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper .content span {
        font-size: 13px;
    }

    .elementor-1774 .elementor-element.elementor-element-7476959 {
        padding: 80px 0px 40px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-8eb4629 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1774 .elementor-element.elementor-element-d5cd5dd>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-f1be475 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
        font-size: 18px;
    }

    .elementor-1774 .elementor-element.elementor-element-f1be475 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
        font-size: 12px;
    }

    .elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px);
    }

    .elementor-1774 .elementor-element.elementor-element-62b7159 .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .elementor-1774 .elementor-element.elementor-element-dc24097>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-ae6ae22 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 40px;
    }
}

@media(max-width:767px) {
    .elementor-1774 .elementor-element.elementor-element-dbd2768>.elementor-container {
        min-height: 500px;
    }

    .elementor-1774 .elementor-element.elementor-element-7d2110e .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1774 .elementor-element.elementor-element-a2efca1 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-top svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1774 .elementor-element.elementor-element-996c0ec>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1774 .elementor-element.elementor-element-aaeac65 .slider-property-clip-wrapper.intro .content div h1 {
        font-size: 32px;
    }

    .elementor-1774 .elementor-element.elementor-element-7476959 {
        padding: 60px 0px 20px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-8eb4629 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1774 .elementor-element.elementor-element-8eb4629>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-d5cd5dd {
        text-align: center;
    }

    .elementor-1774 .elementor-element.elementor-element-d5cd5dd>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-f1be475 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper h4 {
        font-size: 24px;
    }

    .elementor-1774 .elementor-element.elementor-element-f1be475 .speaker-grid-wrapper .ppb_speaker_grid .speaker_info_wrapper .speaker_desc {
        font-size: 14px;
    }

    .elementor-1774 .elementor-element.elementor-element-ad67a91>.elementor-shape-bottom svg {
        width: calc(550% + 1.3px);
    }

    .elementor-1774 .elementor-element.elementor-element-ad67a91 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 80px 0px 80px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-051fa4f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-62b7159 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-1774 .elementor-element.elementor-element-62b7159>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-dc24097 {
        text-align: center;
    }

    .elementor-1774 .elementor-element.elementor-element-dc24097>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1774 .elementor-element.elementor-element-ae6ae22 .countdown-wrapper .countdown-clock-col .countdown-clock-counter {
        font-size: 31px;
    }

    .elementor-1774 .elementor-element.elementor-element-ae6ae22 .countdown-wrapper .countdown-clock-col .countdown-clock-label {
        font-size: 10px;
    }
}