.elementor-bc-flex-widget .elementor-873 .elementor-element.elementor-element-d237daf.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-873 .elementor-element.elementor-element-d237daf.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-873 .elementor-element.elementor-element-d237daf>.elementor-element-populated>.elementor-widget-wrap {
    padding: 16px 0px 16px 0px;
}

.elementor-873 .elementor-element.elementor-element-49cf3f6 img {
    width: 158px;
}

.elementor-873 .elementor-element.elementor-element-49cf3f6 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-873 .elementor-element.elementor-element-07cf073.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-873 .elementor-element.elementor-element-07cf073.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-873 .elementor-element.elementor-element-07cf073.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-873 .elementor-element.elementor-element-07cf073>.elementor-element-populated>.elementor-widget-wrap {
    padding: 16px 0px 16px 0px;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li>a {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li.arrow>a:after {
    line-height: 2.6em;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li {
    margin: 0px 15px 0px 15px;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav {
    text-align: left;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul.sub-menu li a {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    line-height: 2.4em;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li>ul.sub-menu {
    margin: 0px 0px 0px -20px;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul.sub-menu {
    text-align: left;
    border-radius: 5px;
    background: #ffffff;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li>a:hover {
    color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav ul li>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper div .nav li>a:before {
    background-color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li.current-menu-item>a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li.current-menu-parent>a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a {
    color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li.current-menu-item>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li.current-menu-parent>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav>li.current-menu-ancestor>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li a {
    color: #000000;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li a:hover {
    color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li>a:before {
    background-color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li.current-menu-parent ul>li.current-menu-item>a {
    color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul>li.current-menu-item>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul>li.current-menu-parent>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul>li.current-menu-ancestor>a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li ul:not(.sub-menu) li.current-menu-item a:before,
.elementor-873 .elementor-element.elementor-element-b5a443f .themegoods-navigation-wrapper .nav li ul li.current-menu-parent ul li.current-menu-item a:before {
    background-color: #FF2D55;
}

.elementor-873 .elementor-element.elementor-element-b5a443f>.elementor-widget-container {
    margin: 08px 0px 0px 0px;
}

.elementor-873 .elementor-element.elementor-element-b5a443f {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-873 .elementor-element.elementor-element-6deed3b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-873 .elementor-element.elementor-element-6deed3b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-873 .elementor-element.elementor-element-6deed3b.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-873 .elementor-element.elementor-element-6deed3b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-873 .elementor-element.elementor-element-77a6a95 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #FF2D55;
    border-radius: 50px 50px 50px 50px;
    padding: 12px 30px 12px 30px;
}

.elementor-873 .elementor-element.elementor-element-77a6a95 .elementor-button:hover,
.elementor-873 .elementor-element.elementor-element-77a6a95 .elementor-button:focus {
    background-color: #DD072F;
}

.elementor-873 .elementor-element.elementor-element-77a6a95>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-873 .elementor-element.elementor-element-77a6a95 {
    width: auto;
    max-width: auto;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff .elementor-icon-wrapper {
    text-align: center;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff.elementor-view-framed .elementor-icon,
.elementor-873 .elementor-element.elementor-element-e3b18ff.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff.elementor-view-framed .elementor-icon,
.elementor-873 .elementor-element.elementor-element-e3b18ff.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff .elementor-icon {
    font-size: 16px;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff .elementor-icon svg {
    height: 16px;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff>.elementor-widget-container {
    margin: 08px 0px 0px 20px;
}

.elementor-873 .elementor-element.elementor-element-e3b18ff {
    width: auto;
    max-width: auto;
}

body.elementor-page-873:not(.elementor-motion-effects-element-type-background),
body.elementor-page-873>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

@media(min-width:768px) {
    .elementor-873 .elementor-element.elementor-element-d237daf {
        width: 20%;
    }

    .elementor-873 .elementor-element.elementor-element-07cf073 {
        width: 59.332%;
    }

    .elementor-873 .elementor-element.elementor-element-6deed3b {
        width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-873 .elementor-element.elementor-element-d237daf {
        width: 50%;
    }

    .elementor-873 .elementor-element.elementor-element-6deed3b {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-873 .elementor-element.elementor-element-2f1a5c2 {
        padding: 10px 0px 10px 0px;
    }

    .elementor-873 .elementor-element.elementor-element-d237daf>.elementor-element-populated {
        margin: 0px 0px 0px 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 30px;
    }

    .elementor-873 .elementor-element.elementor-element-49cf3f6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-873 .elementor-element.elementor-element-6deed3b>.elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-873 .elementor-element.elementor-element-2f1a5c2 {
        padding: 5px 0px 5px 0px;
    }

    .elementor-873 .elementor-element.elementor-element-d237daf {
        width: 50%;
    }

    .elementor-873 .elementor-element.elementor-element-d237daf>.elementor-element-populated {
        margin: 0px 0px 0px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
    }

    .elementor-873 .elementor-element.elementor-element-6deed3b {
        width: 50%;
    }

    .elementor-873 .elementor-element.elementor-element-6deed3b>.elementor-element-populated {
        margin: 0px 20px 0px 0px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 0px;
    }
}